 <div class="container">
  <nav class="navbar navbar-expand-lg">
      <a href="#" class="navbar-brand logo mr-auto">STOP JEEP</a>
      <button class="btn btn-main" (click)="logout()">Log out</button>
  </nav>


  <div class="container box-content">
    <div class="container">
        <h2 class="title-text mr-auto">{{ name }}</h2>
        <img class="card-img-top image" [src]="user.image" *ngIf="user.image" alt="User image">
        <img class="card-img-top image" src="https://via.placeholder.com/400x300" *ngIf="!user.image" alt="User image">
    </div>
    <h2 class="subtitle-text">Total: </h2>
      <div class="container box-detail">
        <div class="card card-bg">
            <div class="card-body mt-auto">
            <p class="balance-text"> {{ balance$ }}  Baht</p>
            </div>
        </div>
      </div>
  </div>

  <div class="container box-content">
      <h2 class="subtitle-text">Total balance at: </h2>
      <div class="container box-detail">
        <div class="card card-bg">
            <div class="card-body mt-auto">
                <div class="col mx-3" style="max-width:360px;">
                    <div class="border" *ngIf="showCalendar">
                      <dl-date-time-picker
                        [(maxView)]="maxView"
                        [(minView)]="minView"
                        [(startView)]="startView"
                        [(minuteStep)]="minuteStep"
                        [(ngModel)]="selectedDate"
                        (change)="onCustomDateChange($event)"></dl-date-time-picker>
                    </div>
                    <p>Selected Date: {{ selectedDateUTC }}</p>
                    <p class="balance-text"> {{ balanceByDateTime$ }}  Baht</p>
                  </div>
            </div>
        </div>
      </div>
  </div>
</div>
