.logo {
    color: #ee8127;
    font-weight: 500;
    font-size: 2.1rem;
}
.btn-main {
    background-color: #ee8127;
    color: white;
    border-radius: 26px;
}

.card-bg {
    background-color: #ffffff56;
}

.card-body {
    color: white;
}